{% extends 'baseAdmin.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ville</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nb. Place</th>
                <td>{{ event.place }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('event_index') }}">Retour</a>

    <a class="btn" href="{{ path('event_edit', {'id': event.id}) }}">Editer</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
