{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

        <div id="home">
            <div class="container">
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">


                        <h1>
                            Bienvenue sur le Wild Circus
                        </h1>

                        <div class="social">
                            <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-facebook "></i></a>
                            <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-instagram "></i></a>
                        </div>
                        <a href="#services" class=" btn button-custom btn-custom-two">Voir toutes les dates</a>
                    </div>
                </div>
            </div>

        </div>

        <section id="services">
            <div class="container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                        <h3>Nos futurs évenement</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    {% for event in events %}

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <a href="{{ path('ticket_new') }}"><i class="ion-calendar"></i>
                            <h3>{{ event.city }}</h3></a>
                            <h4>Date : {{ event.getdatestring }}</h4>
                            <h4>Place restantes : {% if event.place > 0 %}{{ event.place }} {% else %} COMPLET{% endif %}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--SERVICE SECTION END-->
        <!--PRICING SECTION START-->
        <section id="pricing">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Prix des places</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="row db-padding-btm db-attached">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        20<sup>€</sup>
                                        <small>par personne</small>
                                    </div>
                                    <div class="type">
                                        CATEGORY 2
                                    </div>

                                    <div class="pricing-footer">

                                        <a href="{{ path('ticket_new') }}" class="btn button-custom btn-custom-one">RESERVER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        30<sup>€</sup>
                                        <small>par personne</small>
                                    </div>
                                    <div class="type">
                                        CATEGORY 1
                                    </div>

                                    <div class="pricing-footer">

                                        <a href="{{ path('ticket_new') }}" class="btn button-custom btn-custom-one">RESERVER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        50<sup>€</sup>
                                        <small>par personne</small>
                                    </div>
                                    <div class="type">
                                        BASIC
                                    </div>

                                    <div class="pricing-footer">

                                        <a href="{{ path('ticket_new') }}" class="btn button-custom btn-custom-one">RESERVER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        80<sup>€</sup>
                                        <small>par personne</small>
                                    </div>
                                    <div class="type">
                                        VIP
                                    </div>

                                    <div class="pricing-footer">

                                        <a href="{{ path('ticket_new') }}" class="btn button-custom btn-custom-one">RESERVER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="work">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>NOS PERFORMANCES</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row text-center animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                        <div class="caegories">
                            <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">TOUTES</a>
                            <a href="#" data-filter=".volt" class="btn btn-custom btn-custom-two btn-sm">VOLTIGE</a>
                            <a href="#" data-filter=".domp" class="btn btn-custom btn-custom-two btn-sm">DOMPTEUR</a>
                        </div>
                    </div>
                </div>
                <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 volt">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/1.jpg">

                                <img src="assets/img/portfolio/1.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html domp">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/2.jpg">

                                <img src="assets/img/portfolio/2.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 code volt">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/3.jpg">

                                <img src="assets/img/portfolio/3.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html script">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/4.jpg">

                                <img src="assets/img/portfolio/4.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/5.jpg">

                                <img src="assets/img/portfolio/5.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 domp">
                        <div class="work-wrapper">

                            <a class="fancybox-media" href="assets/img/portfolio/6.jpg">

                                <img src="assets/img/portfolio/6.jpg" class="img-responsive img-rounded" alt=""/>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="team">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Membres de la troupe </h3>
                        <hr/>
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">

                    {% for artist in artists %}
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('{{ artist.avatar }}')">

                            </div>
                            <div class="description">
                                <h3>{{ artist.name }}</h3>
                                <h5><strong>{{ artist.job }}</strong></h5>
                                <p>
                                    {{ artist.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}
