{% extends 'baseAdmin.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Liste des ticket pré-réserver</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TicketNumber</th>
                <th>Email du réservateur</th>
                <th>Nom</th>
                <th>Ticket Validé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.ticketNumber }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.valide ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun ticket</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'inc/_pagination.html.twig' %}
{% endblock %}
