{% extends 'baseAdmin.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TicketNumber</th>
                <td>{{ ticket.ticketNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ticket.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ticket.name }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ ticket.valide ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('ticket_index', {'page':1}) }}">Retour</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
