{% extends 'baseAdmin.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Liste des membres de la troupe Wild Circus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Métier du cirque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.description }}</td>
                <td>{{ artist.job }}</td>
                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}">Voir</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun membre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('artist_new') }}">Ajouter</a>
{% endblock %}
