<!doctype html>
<html lang="fr">
<head>

    <style>   </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wild Circus</title>
</head>
<body>
<h2>Voici votre billets</h2>

<div class="center-div border-danger">
    <h1>Billet Coupe file N°{{ ticket.ticketNumber }} pour : {{ event.city }} le {{ event.getdatestring }}.</h1>

    <h2>CATEGORIE : {{ ticket.category.type }}</h2>
    <h2>PRIX : {{ ticket.category.value }}</h2>
    <br>
    Veuillez présentez ce mail à l'accueil le jour du spectable avec votre moyen de paiment
</div>

</body>
</html>