<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Nous contacter </h3>
                <hr/>

            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Nos réseaux sociaux</h3>
                    <div class="social-below">
                        {% if website.facebook is null and website.twitter is null and website.instagram is null %}Nous n'avons pas encore de réseaux sociaux{% endif %}
                        {% if website.facebook is not null %}<a href="{{ website.facebook }}" class="btn button-custom btn-custom-one" target="_blank">Facebook</a>{% endif %}
                        {% if website.twitter is not null %}<a href="{{ website.twitter }}" class="btn button-custom btn-custom-one" target="_blank">Twitter</a>{% endif %}
                        {% if website.instagram is not null %}<a href="{{ website.instagram }}" class="btn button-custom btn-custom-one" target="_blank">Instagram</a>{% endif %}
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Contact</h3>
                    <h4><strong>Email : </strong> {{ website.email }} </h4>
                    <h4><strong>Tel. : </strong> {{ website.phone }} </h4>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Address : </h3>
                    <h4>{{ website.adress }}</h4>
                    <h4>{{ website.country }}</h4>
                    <div class="footer-div">
                        &copy; 2019 {{ website.title }} | <a href="{{ path('app_login') }}">
                            administration</a>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>